USE [MHM-WMS-DB]
GO
/****** Object:  StoredProcedure [dbo].[upc_自動倉庫棚マスタ_編集]    Script Date: 2025/09/16 19:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
--  [名称]
--      upc_自動倉庫棚マスタ_編集
--      
--  [作成]
--      2024/11/19 11:00:00  (新規作成)
--      
--  [更新]
--      
--  [備考]
--      
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
ALTER PROCEDURE [dbo].[upc_自動倉庫棚マスタ_編集]
    -- IN --
     @DEVICE_ID             VARCHAR(128)
    ,@USER_ID               VARCHAR(10)
    ,@保管区分              TINYINT
    ,@棚番号                VARCHAR(11)  -- ハイフン有
    ,@荷高区分              TINYINT
    ,@禁止区分              TINYINT
    ,@優先保管種別          VARCHAR(2)
	,@棚状況				TINYINT
    -- OUT --
    ,@O_RET                 INT             OUTPUT
    ,@O_MSG                 VARCHAR(5120)   OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    BEGIN TRY
        ---------------------------------------------------------------------------
        -- 型宣言部(共通)
        ---------------------------------------------------------------------------
        --*****エラー管理用*****
        DECLARE @SERVERITY NUMERIC(2,0) SET @SERVERITY  = 11--エラー重量度 11〜18
        DECLARE @REC_ROWNO NUMERIC(3,0) SET @REC_ROWNO  = 1--エラーブロックNO 1〜127
        --*****エラー管理用*****
        DECLARE @P_NAME VARCHAR(128)    SELECT @P_NAME = OBJECT_NAME(@@PROCID)
        
        ---------------------------------------------------------------------------
        -- 型宣言部
        ---------------------------------------------------------------------------
        
        ---------------------------------------------------------------------------
        -- 変数初期化
        ---------------------------------------------------------------------------
        SET @O_RET = 0;
        SET @O_MSG = '';
        
        ---------------------------------------------------------------------------
        -- 以下実行処理
        ---------------------------------------------------------------------------

        -- @棚番号からハイフンを削除
        SET @棚番号 = REPLACE(@棚番号, '-', '');

		IF LEFT(@棚番号, 2) NOT IN ('DA', 'FA')　BEGIN
            SET @O_RET = -1;
            SET @O_MSG = '棚番号がDA・FAから開始する場合のみ編集可能です。';
            RETURN;
        END
		
		IF @棚状況 = 2 BEGIN
            SET @O_RET = -1;
            SET @O_MSG = '入庫予約棚に変更できません。';
            RETURN;
        END
        -- ロケーションマスタの更新
        UPDATE MST_LOCATIONS
        SET
             LOAD_HIGHT_TYPE    = @荷高区分
            ,LOCATION_TYPE      = @禁止区分
            ,優先保管種別       = @優先保管種別
            ,UPDATE_DATETIME    = dbo.ufc_get_datetime_to_char(GETDATE())
            ,UPDATE_DEVICE_ID   = @DEVICE_ID
            ,UPDATE_PNAME       = @P_NAME
            ,UPDATE_USER_ID     = @USER_ID
			,LOCATION_STATUS    = @棚状況
        WHERE LOCATION_ID = @棚番号
        AND (ZONE_ID = 'DA' OR ZONE_ID = 'FA')  -- 自動倉庫
        ;
        IF @@ROWCOUNT = 0 BEGIN
            SET @O_RET = -1;
            SET @O_MSG = '更新対象のデータが存在しません。(MST_LOCATIONS)';
            RETURN;
        END
        
        -- ゾーンマスタの更新
        UPDATE MST_ZONE
        SET
             保管区分    = @保管区分
            ,UPDATE_DATETIME    = dbo.ufc_get_datetime_to_char(GETDATE())
            ,UPDATE_DEVICE_ID   = @DEVICE_ID
            ,UPDATE_PNAME       = @P_NAME
            ,UPDATE_USER_ID     = @USER_ID
        WHERE
        AREA_ID = (SELECT AREA_ID FROM MST_LOCATIONS WHERE LOCATION_ID = @棚番号)
        AND ZONE_ID = (SELECT ZONE_ID FROM MST_LOCATIONS WHERE LOCATION_ID = @棚番号)
        AND (ZONE_ID = 'DA' OR ZONE_ID = 'FA')  -- 自動倉庫
        ;
        IF @@ROWCOUNT = 0 BEGIN
            SET @O_RET = -1;
            SET @O_MSG = '更新対象のデータが存在しません。(MST_ZONE)';
            RETURN;
        END

    END TRY
    BEGIN CATCH
        EXECUTE upc_RAISE_CUSTOM_ERROR
    END CATCH
END
